<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <div style="margin: 15px 0;">
      <p class="letterhead-text">Republic of the Philippines</p>
      <p class="letterhead-text">Province of Cebu</p>
      <p class="letterhead-text">Municipality of Argao</p>
      <p class="letterhead-text">OFFICE OF THE SANGGUNIANG BAYAN</p>
      <p class="letterhead-text">Tel. No.: (032) 367-7623</p>
      <p class="letterhead-text">Email: sbargao@gmail.com</p>
    </div>
    <p class="letterhead-text"> MINUTES OF THE REGULAR SESSION OF THE SANGGUNIANG BAYAN OF THE MUNICIPALITY OF ARGAO
      ,PROVINCE OF CEBU, HELD ON {{ minutes.sessionDate }} AT THE ARGAO MUNICIPAL SESSION HALL ARGAO, CEBU</p>
    <p>Minutes No: {{ minutes.minutesNo }}</p>
   
  </div>

  <div style="text-align: left; margin-left: 20px;">
    <div style="white-space: pre-line">{{ attendance|safe }}</div>
  </div>

  <div class="content">
    <h2>1. CALL TO ORDER</h2>
    <p>{{ minutes.callToOrder }}</p>

    <h2>2. INVOCATION</h2>
    <p>{{ minutes.invocation }}</p>

    <h2>3. NATIONAL ANTHEM</h2>
    <p>{{ minutes.nationalAnthem }}</p>

    <h2>4. SUGBO HYMN</h2>
    <p>{{ minutes.sugboHymn }}</p>

    <h2>5. ROLL CALL</h2>
    <p>{{ minutes.rollCall }}</p>

    <h2>6. ADOPTION OF MINUTES OF THE PREVIOUS SESSION</h2>
    {% if minutes.adoptionMinutesSubsections %}
      {% for content in minutes.adoptionMinutesSubsections %}
        {% if content %}
          <div>6.{{ forloop.counter }} {{ content }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <h2>7. COMMUNICATIONS RECEIVED</h2>
    {% if minutes.communicationsSubsections %}
      {% for content in minutes.communicationsSubsections %}
        {% if content %}
          <div>7.{{ forloop.counter }} {{ content }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <h2>8. COMMITTEE REPORT</h2>
    {% if minutes.committeeReportSubsections %}
      {% for content in minutes.committeeReportSubsections %}
        {% if content %}
          <div>8.{{ forloop.counter }} {{ content }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <h2>9. FIRST READING</h2>
    {% if minutes.firstReadingSubsections %}
      {% for content in minutes.firstReadingSubsections %}
        {% if content %}
          <div>9.{{ forloop.counter }} {{ content }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <h2>10. OTHER MATTERS</h2>
    <p>{{ minutes.otherMatters }}</p>

    <h2>11. ADJOURNMENT</h2>
    <p>{{ minutes.adjournment }}</p>
  </div>
  
  <div class="signatures">
    <div class="signature-block">
      <p>{{ minutes.preparedBy }}</p>
      <p>Secretary to the Sangguniang Bayan</p>
    </div>
  
    <div class="signature-block">
      <p>Attested:________________</p>
      <p>{{ minutes.attestedBy }}</p>
      <p>Municipal Vice Mayor & Presiding Officer</p>
    </div>
    
    <div class="signature-block">
      <p>Approved:________________</p>
      <p>{{ minutes.approvedBy }}</p>
      <p>Municipal Mayor</p>
    </div>
  </div>
</body>
</html>