<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <div style="margin: 15px 0;">
      
      <p class="letterhead-text">Republic of the Philippines</p>
      <p class="letterhead-text">Province of Cebu</p>
      <p class="letterhead-text">Municipality of Argao</p>
      <p class="letterhead-text">OFFICE OF THE SANGGUNIANG BAYAN</p>
      <p class="letterhead-text">Tel. No.: (032) 367-7623</p>
      <p class="letterhead-text">Email: sbargao@gmail.com</p>
    </div>
    
    <h3>Order of Business</h3>
    <h3>Regular Session</h3>
    <p>(Minutes No: {{ notice.minutesNo }})</p>
    <p>Date: {{ notice.sessionDate }}</p>
   
  </div>


  <div class="content">
    <h2>1. CALL TO ORDER</h2>
    <p>{{ notice.callToOrder }}</p>

    <h2>2. INVOCATION</h2>
    <p>{{ notice.invocation }}</p>

    <h2>3. NATIONAL ANTHEM</h2>
    <p>{{ notice.nationalAnthem }}</p>

    <h2>4. SUGBO HYMN</h2>
    <p>{{ notice.sugboHymn }}</p>

    <h2>5. ROLL CALL</h2>
    <p>{{ notice.rollCall }}</p>

    <h2>6. ADOPTION OF MINUTES OF THE PREVIOUS SESSION</h2>
    {% if notice.adoptionMinutesSubsections %}
      {% for content in notice.adoptionMinutesSubsections %}
        {% if content %}
          <div>6.{{ forloop.counter }} {{ content }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <h2>7. COMMUNICATIONS RECEIVED</h2>
    {% if notice.communicationsSubsections %}
      {% for content in notice.communicationsSubsections %}
        {% if content %}
          <div>7.{{ forloop.counter }} {{ content }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <h2>8. COMMITTEE REPORT</h2>
    {% if notice.committeeReportSubsections %}
      {% for content in notice.committeeReportSubsections %}
        {% if content %}
          <div>8.{{ forloop.counter }} {{ content }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <h2>9. FIRST READING</h2>
    {% if notice.firstReadingSubsections %}
      {% for content in notice.firstReadingSubsections %}
        {% if content %}
          <div>9.{{ forloop.counter }} {{ content }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    <h2>10. OTHER MATTERS</h2>
    <p>{{ notice.otherMatters }}</p>

    <h2>11. ADJOURNMENT</h2>
    <p>{{ notice.adjournment }}</p>
  </div>
  
  <div class="signatures">
    <div class="signature-block">
      <p>{{ notice.preparedBy }}</p>
      <p>Secretary to the Sangguniang Bayan</p>
    </div>
    <div class="signature-block">
      
      <p>{{ notice.attestedBy }}</p>
      <p>Municipal Vice Mayor & Presiding Officer</p>
    </div>
    
  </div>
</body>
</html>